# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# Development files
kachras/
csv_files/
test.py
test.ipynb
add_info.txt
app_backup.py
db.py
home_backup.py
page2.py
06_test.py
notes.txt